<body>
  <div class="navbar">
    <img src="https://i.ibb.co/bWYqgpQ/Captura-de-pantalla-2024-10-17-173641-removebg-preview.png" alt="Logo DSR" class="logo">
    <div>
        <div class="image-container">
          <button mat-icon-button  (click)="openModal()" type="button">
            <mat-icon>account_circle</mat-icon>
          </button>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="header">
      <div class="overlay">
        <p class="fancy-paragraph">Bienvenidos/as al sistema de gestión de material educativo de DuocSwap.</p>
        <h2>Estimados estudiantes y colaboradores:</h2>
        <p>En conformidad con nuestras políticas de seguridad, les recordamos la importancia de mantener un control riguroso y actualizado del material educativo a su disposición. Por favor, tengan en cuenta las siguientes directrices: </p>
        <p>Verifiquen regularmente el estado y la disponibilidad de los materiales en el sistema de gestión.
          Al registrar o actualizar información, especifiquen detalladamente el tipo de material educativo, nombre, autor e identificador único de cada ítem.
          Toda transacción o intercambio de materiales debe ser documentada y aprobada a través del sistema DuocSwap.
          Mantengan la confidencialidad de la información sensible contenida en los materiales educativos, especialmente aquellos relacionados con temas de trading o finanzas.</p>
        <p>Recuerden que DuocSwap les permite intercambiar materiales educativos con otros estudiantes, ampliando sus oportunidades de aprendizaje y optimizando el uso de los recursos disponibles. Sin embargo, todos los intercambios deben adherirse estrictamente a nuestras políticas de seguridad y estar debidamente registrados en el sistema.</p>
        <p>El incumplimiento de estas directrices puede resultar en la suspensión de los privilegios de intercambio o en otras medidas disciplinarias según lo establecido en nuestras políticas institucionales.
          Agradecemos su colaboración y atención en el cumplimiento de estas importantes medidas de seguridad y control. Juntos, podemos crear un entorno de aprendizaje seguro, eficiente y enriquecedor.</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy; © 2024 DuocSwap, Norma ISO/IEC 27001, todos los derechos reservados.</p>
    </div>
  </footer>

</body>
